@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500;600&display=swap");

:root {
  /* Step -2: 9.72px → 11.52px */
  --fs--2: clamp(0.61rem, calc(0.57rem + 0.18vw), 0.72rem);

  /* Step -1: 11.67px → 14.40px */
  --fs--1: clamp(0.73rem, calc(0.67rem + 0.27vw), 0.9rem);

  /* Step 0: 14.00px → 18.00px */
  --fs-0: clamp(0.88rem, calc(0.8rem + 0.4vw), 1.13rem);

  /* Step 1: 16.80px → 22.50px */
  --fs-1: clamp(1.05rem, calc(0.94rem + 0.57vw), 1.41rem);

  /* Step 2: 20.16px → 28.13px */
  --fs-2: clamp(1.26rem, calc(1.1rem + 0.8vw), 1.76rem);

  /* Step 3: 24.19px → 35.16px */
  --fs-3: clamp(1.51rem, calc(1.29rem + 1.1vw), 2.2rem);

  /* Step 4: 29.03px → 43.95px */
  --fs-4: clamp(1.81rem, calc(1.52rem + 1.49vw), 2.75rem);

  /* Step 5: 34.84px → 54.93px */
  --fs-5: clamp(2.18rem, calc(1.78rem + 2.01vw), 3.43rem);

  --primary-color: #d5001c;
  --primary-color-active: #c2061f;
  --secondary-color: #333;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-color);
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-size: var(--fs-0);
}

.btn.btn_01 {
  font-size: 1rem;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #313639;
  transition: all 200ms ease;
  border-radius: unset;
}

.btn.btn_01 svg {
  width: 1.3rem;
}

.btn.btn_01.btn_01-inverted {
  color: var(--white);
  border-color: var(--white);
}

.btn.btn_01.btn_01-inverted svg > * {
  color: var(--white);
}

.btn.btn_01 svg > * {
  transition: all 200ms ease;
}

.btn.btn_01:hover,
.btn.btn_01:hover svg > * {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.section__title {
  font-size: var(--fs-3);
  font-weight: bold;
  margin-bottom: 2rem;
}

header {
  background: var(--white);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px;
}
header svg,
header img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

/* begin::Banner */
#banner {
  position: relative;
  width: 100%;
}

.banner__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 7rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.banner__content .banner__content--texts {
  max-width: 767px;
  margin: 0 auto 2rem;
}

.banner__content .banner__content--texts h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.banner__content .banner__content--texts h3,
.banner__content .banner__content--texts p {
  color: var(--white);
  white-space: nowrap;
}

/* end::Banner */

.sticky-menu {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  margin-top: 0;
  box-sizing: border-box;
  box-shadow: 0 5px 15px -3px rgb(0 0 0 / 0.2), 0 2px 6px -4px rgb(0 0 0 / 0.2);
  z-index: 2;
  padding: 20px 0;
}

.sticky-menu .navigation {
  overflow: hidden;
}

.sticky-menu .navigation ul {
  margin: 0;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  position: relative;
  padding: 0;
}

.sticky-menu .navigation ul li {
  list-style: none;
  display: inline-block;
  flex-shrink: 0;
}

.sticky-menu .navigation ul li a {
  padding: 0;
  text-align: justify;
  text-decoration: none;
  color: var(--black);
  font-size: var(--fs-1);
  transition: all 250ms ease;
}

.sticky-menu .navigation ul li a:hover {
  color: var(--primary-color);
}

.sticky-menu .navigation ul #scroll__spy--underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transform-origin: left center;
}

/* begin::ABOUT */
#about {
  scroll-margin-top: 120px;
}

#about .about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 35ch;
  margin: 0 auto;
  height: 100%;
  gap: 10px;
}

.about__content h2 {
  font-size: var(--fs-5);
}

.about__content p {
  font-size: var(--fs-0);
}

/* end::ABOUT */

/* 360 IFRAMES */
#exterior-360-view,
#interior-360-view {
  height: 80vh;
  width: 100%;
}

#exterior-360-view iframe,
#interior-360-view iframe {
  height: 100%;
  width: 100%;
  margin: 0;
}
/* 360 IFRAMES */

/* begin::PARALLAX */

.parallax {
  height: 160vh;
}

.parallax__bg {
  bottom: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.parallax__bg figure {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.parallax__bg figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax__bg .parallax__bg--overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 1;
}

.parallax__content {
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  position: relative;
  transition: opacity ease-out 0.5s;
  width: 100%;
  z-index: 1;
  color: var(--white) !important;
  display: flex;
  flex-direction: column;
}

.parallax__content .parallax__content--title {
  font-size: var(--fs-5);
  font-weight: bold;
}

.parallax__content .parallax__content--text {
  color: inherit;
}

/* end::PARALLAX */
#gallery {
  scroll-margin-top: 120px;
}
#gallery .gallery__grid {
  margin: 0 auto;
  background: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  margin-bottom: 2rem;
}

.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

/*.big-stretch{
  grid-row: span 2;
  grid-column: span 2;
}
*/

#gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#model h2 {
  font-weight: bold;
}

/* begin::CONTACT */
#contact {
  scroll-margin-top: 120px;
  margin: 4rem 0;
}

#contact .form__wrapper {
  background-color: #f6f6f6;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#contact form .form-control {
  border-radius: 0px;
  background: #ededed;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.7rem;
}

#contact .btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 15px;
  color: var(--white);
  transition: all 250ms ease;
  font-size: var(--fs-0);
}

#contact .btn.btn-msg {
  background-color: var(--primary-color);
}

#contact .btn.btn-wpp {
  background-color: rgb(43, 168, 51);
}

#contact .btn:hover {
  filter: brightness(0.8);
}

#contact .btn-wpp svg {
  height: 1.4rem;
  width: 1.4rem;
}

#contact .btn-wpp svg * {
  color: var(--white);
}
/* end :: contact */

/* begin :: carousel */
#cars-carousel {
  padding: 4rem 0;
}

#cars-carousel #similar__cars--carousel {
  position: relative;
}

#cars-carousel .glide__slides {
  padding: 20px 0;
}

#cars-carousel .glide__slide {
  padding: 2rem;
  border: 1px solid transparent;
}

#cars-carousel .glide__slide--active {
  border-color: var(--secondary-color);
}

#cars-carousel .similar__cars--title {
  font-size: var(--fs-1);
}

#cars-carousel .similar__cars--figure {
  height: 100%;
  width: 100%;
  max-width: 200px;
}
#cars-carousel .similar__cars--figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#cars-carousel .similar__cars--table .table {
  width: 100%;
  margin-bottom: 0;
}
#cars-carousel .similar__cars--table .table .collum2 {
  font-size: var(--fs-0);
}
#cars-carousel .similar__cars--table .table .collum1 {
  font-size: var(--fs--1);
}

.glide__arrows button {
  background-color: var(--white);
  transition: all 250ms ease;
  aspect-ratio: 1;
}

.glide__arrows button svg {
  width: 2rem;
  color: var(--black);
  transition: all 250ms ease;
  aspect-ratio: 1;
}

.glide__arrows button:hover {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.glide__arrows button:hover svg {
  color: var(--primary-color);
}

.glide__bullets {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
}

.glide__bullets .glide__bullet {
  background-color: #ccc;
}

.glide__bullets .glide__bullet:hover,
.glide__bullets .glide__bullet:focus,
.glide__bullets .glide__bullet:focus-visible {
  background-color: #aaa;
  border: none;
  outline: none;
}

.glide__bullets .glide__bullet.glide__bullet--active {
  background-color: var(--primary-color);
}

/* end :: carousel */

/* begin :: footer */
footer {
  background-color: var(--secondary-color);
  color: var(--white);
  width: 100%;
  padding: 1rem 0;
}

footer .footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .footer__content p {
  margin: 0;
  font-size: var(--fs--1);
}

/* end :: footer */

.grid-item {
  display: flex;
  background-color: blue;
  border: solid 1px var(--white);
}

/* begin :: tecnicos */
.accordion-button {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  transition: all 250ms ease;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--black);
  background: var(--white);
}

.accordion-button:hover {
  color: var(--primary-color);
}
.accordion-item {
  border-left: 0;
  border-right: 0;
}

.accordion-body {
  background-color: var(--white);
  padding: 1rem;
}
.accordion-button,
.accordion-body,
.accordion-body td {
  padding-left: 0;
  padding-right: 0;
}

.collum2 {
  font-weight: 600;
  font-size: var(--fs-0);
}

.itn-serie {
  margin-top: 3rem;
}

#technical__data {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--white);
  animation: slideDown 750ms ease forwards;
  z-index: 2;
}

#technical__data.active {
  animation: slideUp 1s ease forwards;
}

.technical__data--close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 20px;
  right: 50px;
  margin-left: auto;
  z-index: 9999;
  box-shadow: 5px 5px 5px -2.5px rgba(0, 0, 0, 0.2);
  background-color: #d5001c;
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: none;
  transition: all 150ms ease;
}
.technical__data--close:hover {
  background-color: var(--primary-color-active);
}

#technical__data .technical__data--close svg {
  color: var(--white);
  height: 40px;
  width: auto;
  object-fit: contain;
}

#technical__data .technical__data--header {
  background: #eff0f1;
  padding: 2rem 0;
  margin-top: -50px;
}
#technical__data .technical__data--header h2 {
  font-size: var(--fs-3);
}

#technical__data .technical__data--header .technical__data--header__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5rem;
  row-gap: 1rem;
}

#technical__data .technical__data--header .technical__data--header__data > div {
  padding: 0 1rem;
  border-left: 1px solid #ddd;
}

#technical__data
  .technical__data--header
  .technical__data--header__data
  > div:first-child {
  padding-left: 0;
  border-left: 0;
}

#technical__data .technical__data--header .technical__data--header__data h3 {
  font-size: var(--fs-0);
  font-weight: 600;
  margin-bottom: 0;
}
#technical__data .technical__data--header .technical__data--header__data p {
  font-size: var(--fs--1);
  margin-bottom: 0;
}

#technical__data .technical__data--content {
  padding: 3rem 0 4rem;
}

#technical__data .technical__data--content .technical__data--title {
  font-size: var(--fs-2);
  font-weight: 600;
  margin-bottom: 1.4rem;
}

#technical__data .technical__data--figure--wrapper {
  position: sticky;
  top: 0;
  left: 0;
  height: 600px;
}
#technical__data .technical__data--figure {
  transform: rotate(90deg);
  width: auto;
  height: 100%;
  position: sticky;
}
#technical__data .technical__data--figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 749px) {
  .banner__content .btn.btn_01 {
    position: relative;
    margin-top: 1rem;
    bottom: -4rem;

    padding: 7px 14px;
  }

  .banner__content--texts {
    position: relative;
    top: 7rem;
    padding: 20px;
    columns: 3;
  }

  .container .banner__content--texts h3 {
    font-size: 16px;
  }

  .container .banner__content--texts p {
    font-size: 8px;
  }

  #parallax-section-02 .parallax__content--title {
    font-size: 32px;
  }

  #similar__cars--carousel .glide__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 100%;
    right: 0;
  }

  #similar__cars--carousel .glide__arrows button {
    position: static;
    padding: 10px;
  }

  #similar__cars--carousel .glide__arrows button svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  footer .footer__content {
    justify-content: center;
  }
}

@media screen and (max-width: 923px) and (min-width: 750px) {
  #gallery .gallery__grid {
    margin: 0 auto;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
  }

  #parallax-section-02 .parallax__content--title {
    font-size: 48px;
  }

  .card {
    position: relative;
    width: 30%px;
    height: 350px;
    background-color: var(--white);
  }
}

@media screen and (min-width: 924px) and (max-width: 1199px) {
  #gallery .gallery__grid {
    margin: 0 auto;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1250px) {
  #gallery .gallery__grid {
    margin: 0 auto;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1401px){
  #gallery .gallery__grid {
    margin: 0 auto;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1750px){
  #gallery .gallery__grid {
    margin: 0 auto;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
  }
}
