@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(46, 120, 185);
}

figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
}

header {
  background: rgb(244, 244, 244);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px;
}

header svg,
header img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

.sticky-menu {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 0;
  box-sizing: border-box;
  box-shadow: 3px 4px 6px 0px #6b6969;
  z-index: 1;
}

.navigation {
  overflow: hidden;
}

.navigation ul {
  margin: 0;
  padding: 15px 20px;
  display: flex;
  column-gap: 15px;
  row-gap: 10px;
  overflow-x: auto;

}
.navigation ul li {
  list-style: none;
  display: inline-block;
  flex-shrink: 0;
}

.navigation ul li a {
  text-align: justify;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  padding: 5px 25px;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: red;

}

.about {
  display: flex;
}

.about .img02 {
  width: 100%;
  box-sizing: border-box;


}

.about .img02-text {
  box-sizing: content-box;
  max-width: 40ch;
  padding: 40px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.col-12.col-lg-4{
  margin-top: 5rem;
}
.col-12.col-lg-4 button{
font-size: 18px;
padding: 10px 25px;
border-width: 1px;
transition: all 0.5s;
}
.col-12.col-lg-4 button svg > *{
  transition: all 0.5s;
}
.col-12.col-lg-4 button:hover,
.col-12.col-lg-4 button:hover svg > *{
  color: red!important;
}
.col-12.col-lg-4 button svg{
  width: 25px;
}

.about .img02-text p {
  max-width: 70ch;
}

.parallax {
  height: 160vh;
}

.parallax__bg {
    bottom: 0;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.parallax__bg figure {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.parallax__bg figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax__bg .parallax__bg--overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,1);
  z-index: 1;
}

.parallax__content {
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  position: relative;
  transition: opacity ease-out .5s;
  width: 100%;
  z-index: 1;
  color: #fff!important;
  display: flex;
  flex-direction: column;
}

.parallax__content .parallax__content--title{
  font-size: 52px;
  font-weight: bold;
}

.parallax__content .parallax__content--text{
  color: inherit;
}

.parallax__content--title-ext360-02{
  font-size: 40px;
  font-weight: bold;
}
#model h2{
  font-weight: bold;
}
.accordion-button{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.accordion-body{
  background-color: #fff;
}
.collum2{
  font-weight: bold;
}

.itn-serie{
  margin-top: 3rem;
}
.accordion-button:focus{
  box-shadow: none;
}

.accordion-button:not(.collapsed){
  color:black;
  background:white;
}
.formulario{
  background-color: #f6f6f6;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
form .form-control{
  border-radius: 0px;
  background: #ededed;
  border-bottom: 1px solid red;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.btn-msg{
  width: 100%;
  background-color: rgb(212, 60, 60);
  border: 0px;
  padding: 15px;
  color: #fff;
  transition: all 0.5s;
}
.btn-msg:hover{
  filter: brightness(0.8);
}
.formulario p{
  padding: 10px;
  margin-bottom: 0;
}
.btn-wpp{
  width: 100%;
  background-color: rgb(43, 168, 51);
  border: 0px;
  padding: 15px;
  color: #fff;
  transition: all 0.5s;
}
.btn-wpp:hover{
  filter: brightness(0.8);
}
footer{
  background-color: #333;
  width: 100%;
  height: 200px;
}
