@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #333;
}

margin-top {
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(46, 120, 185);
  position: relative;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.btn.btn_01 {
  font-size: 1rem;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #313639;
  transition: all 200ms ease;
  border-radius: unset;
}

.btn.btn_01 svg {
  width: 1.3rem;
}

.btn.btn_01.btn_01-inverted {
  color: #fff;
  border-color: #fff;
}

.btn.btn_01.btn_01-inverted svg > * {
  color: #fff;
}

.btn.btn_01 svg > * {
  transition: all 200ms ease;
}

.btn.btn_01:hover,
.btn.btn_01:hover svg > * {
  color: red;
  border-color: red;
}

header {
  background: rgb(244, 244, 244);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px;
}
header svg,
header img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

/* begin::Banner */
#banner {
  position: relative;
  width: 100%;
}

.banner__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 7rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.banner__content .banner__content--texts {
  max-width: 767px;
  margin: 0 auto 2rem;
}

.banner__content .banner__content--texts h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.banner__content .banner__content--texts h3,
.banner__content .banner__content--texts p {
  color: #fff;
  white-space: nowrap;
}

/* end::Banner */

.sticky-menu {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 0;
  box-sizing: border-box;
  box-shadow: 0 5px 15px -3px rgb(0 0 0 / 0.2), 0 2px 6px -4px rgb(0 0 0 / 0.2);
  z-index: 2;
  padding: 20px 0;
}

.sticky-menu .navigation {
  overflow: hidden;
}

.sticky-menu .navigation ul {
  margin: 0;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}

.sticky-menu .navigation ul li {
  list-style: none;
  display: inline-block;
  flex-shrink: 0;
}

.sticky-menu .navigation ul li a {
  padding: 0px 10px;
  text-align: justify;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  transition: all 0.5s;
}

.sticky-menu .navigation ul li a:hover {
  color: red;
}

/* begin::ABOUT */
#about .img02-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 35ch;
  margin: 0 auto;
  height: 100%;
  gap: 10px;
}

.img02-text h2 {
  font-size: 3rem;
}

.img02-text p {
  font-size: 1rem;
}
/* end::ABOUT */

/* begin::PARALLAX */
.parallax {
  height: 160vh;
}

.parallax__bg {
  bottom: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.parallax__bg figure {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.parallax__bg figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax__bg .parallax__bg--overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 1;
}

.parallax__content {
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  position: relative;
  transition: opacity ease-out 0.5s;
  width: 100%;
  z-index: 1;
  color: #fff !important;
  display: flex;
  flex-direction: column;
}

.parallax__content .parallax__content--title {
  font-size: 52px;
  font-weight: bold;
}

.parallax__content .parallax__content--text {
  color: inherit;
}

.parallax__content--title-ext360-02 {
  font-size: 30px;
  font-weight: bold;
}
/* end::PARALLAX */
.gallery .container {
  max-width: 1100px;
  max-height: 700px;
  margin: 0 auto;
  background: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  margin-bottom: 2rem;
}

.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#model h2 {
  font-weight: bold;
}

#contact {
  margin: 2rem;
}

.formulario {
  background-color: #f6f6f6;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
form .form-control {
  border-radius: 0px;
  background: #ededed;
  border-bottom: 1px solid red;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.btn-msg {
  width: 100%;
  background-color: rgb(212, 60, 60);
  border: 0px;
  padding: 15px;
  color: #fff;
  transition: all 0.5s;
}
.btn-msg:hover {
  filter: brightness(0.8);
}
.formulario p {
  padding: 10px;
  margin-bottom: 0;
}
.btn-wpp {
  width: 100%;
  background-color: rgb(43, 168, 51);
  border: 0px;
  padding: 15px;
  color: #fff;
  transition: all 0.5s;
}
.btn-wpp:hover {
  filter: brightness(0.8);
}
/* end :: contact */

/* begin :: footer */

footer {
  background-color: #333;
  width: 100%;
  height: 200px;
}

/* end :: footer */

.grid-item {
  display: flex;
  background-color: blue;
  border: solid 1px white;
}

/* begin :: tecnicos */
.accordion-button {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.accordion-body {
  background-color: #fff;
}
.collum2 {
  font-weight: bold;
}

.itn-serie {
  margin-top: 3rem;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background: white;
}
#tecnicos {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: white;
  animation: slideDown 750ms ease forwards;
  z-index: 2;
}
#tecnicos.active {
  animation: slideUp 1s ease forwards;
}
.container .dados {
  margin-top: 5rem;
}

.dados__tecnicos--close {
  position: sticky;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: 5px 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  background-color: red;
  border: none;
  font-size: 25px;
  font-weight: bold;
  z-index: 3;
}
#tecnicos svg {
  color: white;
  height: 40px;
  width: auto;
  object-fit: contain;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media (max-width: 450px) {
  .parallax__content--title {
  }
  .gallery .container {
    max-height: fit-content;
    width: auto;
  }
  #contact {
  }
}
