.hdr-catalogo {
  width: 100%;
  height: 100px;
}

.hdr-catalogo a {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.sticky-menu .navigation .nav-menu .nav-item {
  font-size: var(--fs-2);
  font-weight: bold;
}
.sticky-menu .navigation .nav-menu .search-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.sticky-menu .navigation .nav-menu .search-item h5 {
  margin: 0;
}

.sticky-menu .navigation .nav-menu .search-item input{
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
}

#catalogo-bd{
  padding: 3rem 0;
}

#catalogo-bd .sorts {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#catalogo-bd .sorts .button {
  padding: 5px 30px;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#catalogo-bd .sorts .button.active,
#catalogo-bd .sorts .button:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}

#catalogo-bd .box-item {
  background: var(--white);
  transition: 0.5s;
  position: relative;
  /* width: 100%; */
  height: auto;
  border: 1px solid var(--secondary-color);
  margin: .5rem;
}

#catalogo-bd .box-item figure{
  height: 250px;
  width: 100%;
  overflow: hidden;
}

#catalogo-bd .box-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#catalogo-bd .box-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#catalogo-bd .box-item .box-item--desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1.5rem;
}

#catalogo-bd .box-item .box-item--desc h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--fs-2);
}

#catalogo-bd .box-item .box-item--desc p {
  text-align: center;
  font-size: var(--fs-0);
  margin-bottom: 0;
}

#catalogo-bd .box-item .box-item--desc p:not(:last-child) {
  margin-bottom: 5px;
}

#catalogo-bd .box-item .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  transition: all 250ms ease;
  opacity: 0;
}

#catalogo-bd .box-item:hover .overlay {
  background: rgba(0, 0, 0, .5);
  opacity: 1;
}

.box-item .overlay a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  transition: all 250ms ease;
}

.box-item .overlay a:hover {
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 720px) {
  .sticky-menu {
    height: 200px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .sticky-menu .nav-menu .nav-item a {
    font-size: var(--fs-2);
  }

  .sticky-menu .search-item h5 {
    font-size: var(--fs-2);
    margin: 5px;
  }
  .sticky-menu .search-item #searchbar {
    display: flex;
    box-sizing: border-box;
    margin: 3px;
    width: 195px;
    height: 80px;
  }

  .sorts {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}
@media (max-width: 422px) {
  .sticky-menu {
    height: 200px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .sticky-menu .nav-menu .nav-item a {
    font-size: var(--fs-2);
  }

  .sticky-menu .search-item h5 {
    font-size: var(--fs-2);
    margin: 5px;
  }
  .sticky-menu .search-item #searchbar {
    display: flex;
    box-sizing: border-box;
    margin-top: 1rem;
    width: 195px;
    height: 80px;
  }

  .sorts {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  #catalogo-bd {
    display: grid;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin: 0;
  }
}
